.card {
  width: var(--i-large);
  height: 70vh;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 2.8s cubic-bezier(0.45, 0, 0.55, 1);
}
.image {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.caption {
  position: relative;
  top: 4%;
  font-family: "Neue Montreal Book";
  text-transform: lowercase;
}
.opacity {
  opacity: 1 !important;
}
