.imageMax {
  width: var(--i-max);
  height: fit-content;
  background-color: var(--legacy);
  display: grid;
  place-items: center;
}
.imageMax > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;

  transition: opacity 0.8s cubic-bezier(0.87, 0, 0.13, 1);
}
.imgOpacity {
  opacity: 1 !important;
}
