.menuBtn {
  position: absolute;
  top: 10px;
  right: 5vmin;
  width: 8vmin;
  height: 2.5vmin;
  background-color: var(--page-bg);
  border-radius: 20px;
  display: grid;
  place-items: center;
  z-index: 20;
}
.menuBtnInner {
  height: 100%;
  width: 100%;
  font-family: "Neue Montreal Book";
  cursor: pointer;
  /* background-color: var(--early); */
}
.menuBtnInner > span {
  display: inline-block;
  user-select: none;
}
.menuBtnInner > span:hover {
  transform: translateY(5%);
}
/* navMenu */
.navMenu {
  position: absolute;
  height: 45vh;
  aspect-ratio: 1;
  z-index: 10;
  right: calc(5vmin - 10px);
  top: 5px;
  background-color: var(--legacy);

  border-radius: 20px;
}
