@import url("https://api.fontshare.com/v2/css?f[]=khand@600&display=swap");

.menuBtn {
  position: absolute;
  top: 10px;
  right: 5vmin;
  width: 8vmin;
  height: 2.5vmin;
  border-radius: 20px;
  display: grid;
  place-items: center;
  z-index: 20;
  overflow: hidden;
}
.menuLabelContainer {
  display: grid;
  place-items: center;
}

.btnInnerMenu {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Neue Montreal Book";
  cursor: pointer;
  user-select: none;
  transition: all 350ms ease-in-out;
}
.btnInnerMenu > span {
  display: inline-block;
  user-select: none;
}
.btnInnerMenu:hover {
  scale: 1.1;
}
/* navMenu */
.navMenu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  aspect-ratio: 1;
  z-index: 10;
  right: 0;
  top: 0;
  background-color: var(--legacy);

  display: flex;
  justify-content: center;
  align-items: center;
}
.linksContainer {
  position: relative;
  z-index: 1;
  height: 50vh;
  width: 50vw;
  background-color: var(--intl);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link {
  font-family: "Khand", sans-serif;
  font-size: 48px;
  line-height: 1;
}
.link > a {
  text-decoration: none;
  color: black;
}
