@import url("https://api.fontshare.com/v2/css?f[]=khand@600&display=swap");

.menuBtn {
  position: sticky;
  top: 10px;
  right: 5vmin;
  width: 8vmin;
  height: 2.5vmin;
  border-radius: 20px;
  display: grid;
  place-items: center;
  z-index: 20;
  overflow: hidden;
}
.menuLabelContainer {
  display: grid;
  place-items: center;
}

.btnInnerMenu {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Neue Montreal Book";
  cursor: pointer;
  user-select: none;
  transition: all 350ms ease-in-out;
}
.btnInnerMenu > span {
  display: inline-block;
  user-select: none;
}
.btnInnerMenu:hover {
  scale: 1.1;
}
/* navMenu */
.navMenu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  aspect-ratio: 1;
  z-index: 10;
  right: 0;
  top: 0;
  background-color: var(--legacy);

  display: flex;
  justify-content: center;
  align-items: center;
}
.linksContainer {
  position: absolute;
  z-index: 1;
  height: fit-content;
  width: fit-content;
  left: calc(50vw - width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  overflow: visible;
}
.linkWrapper {
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  transform-origin: left;
  transition: transform 5s ease-in-out;
}
.linkWrapper:hover {
  transform: scaleX(1.3);
}
.link {
  position: relative;
  width: fit-content;
  font-family: "Khand", sans-serif;
  font-size: 8.5vmin;
  line-height: 1;
  transition: font-size 250ms ease-in-out;
}
.link > a {
  position: inline-block;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
link:hover > a {
  transform: scale(1.1);
}
