.footerMain {
  height: 100vh;
  width: 100%;
  background-color: var(--legacy);

  display: grid;
  place-items: center;

  margin-top: 2.5vh;
}
.footerInner {
  height: 80%;
  width: 80%;
  /* background-color: var(--menu-prpl); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleNext {
  position: relative;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.imgWrapper {
  /* background-color: cadetblue; */
  width: 100%;
  height: 20%;
  overflow: hidden;
  padding-bottom: 1vh;
}
.imgWrapper > img {
  position: relative;
  transform: translateY(-150%) rotate(-180deg);
  scale: 2;

  transition: all 600ms cubic-bezier(0.76, 0, 0.24, 1);
}
.imgPos {
  transform: translateY(0) !important;
}
.link {
  text-decoration: none;
  color: var(--intro-black);
  font-family: "Neue Montreal Book", sans-serif;
  font-size: 25px;
}
.link:hover::after {
  transform: scaleX(1);
}
.link::after {
  position: relative;
  display: block;
  margin: auto;
  content: "";
  height: 1.3px;
  background-color: black;
  width: 100%;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 550ms cubic-bezier(0.76, 0, 0.24, 1);
}
/* hover iamges */
.imgTopWrapper,
.imgBottWrapper {
  position: relative;
  height: 20%;
  width: 35%;
}
.imgTopWrapper > img,
.imgBottWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;

  transition: opacity 750ms cubic-bezier(0.76, 0, 0.24, 1);
}
.imgBottWrapper > img {
  transition-delay: 0.2s;
}
.imgHover {
  opacity: 1 !important;
}
.imgBottWrapper {
  margin-top: 2.8%;
}
