.homeVideoWrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}
.backgroundImage {
  position: relative;
  height: 100%;
  width: 100%;
  filter: brightness(67%);
  display: grid;
  place-items: center;
}
video {
  position: relative;
  z-index: -10;
  height: 100vh;
  width: 100vw;
}

.backgroundImage > video {
  object-fit: contain;
}
.decadeTitle {
  position: absolute;
  left: 5vmin;
  top: 5vmin;
  letter-spacing: 2px;
  font-family: "Supreme", sans-serif;
  font-weight: 400;
  color: ivory;
  mix-blend-mode: screen;
}
