.menuBtn{
    position: fixed;
    height: 5vmin;
    aspect-ratio: 1;
    right: 2.5vmin;
    bottom: 2.5vmin;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    background-color: rgb(204, 212, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-out;
}
.burger {
    width: 0%;
    transition: all 300ms ease-out;
}
.burger::after, .burger::before{
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    width: 50%;
    margin: auto;
    position: relative;
    transition: all 300ms ease-out;
}
.menuBtn:hover {
    scale: 1.1;
}
.menuBtn:hover > .burger{
    width: 100%;
}
.menuBtn:hover > .burger::after{
    transform: translate(0px, -5px);
}
.menuBtn:hover > .burger::before{
    transform: translate(0px, 5px);
}
[data-menu-active=true]{
    width: 100% !important;
}
[data-menu-active=true]::before{
    transform: rotate(45deg) !important;
}
[data-menu-active=true]::after{
    transform: rotate(-45deg) !important;
}
.navbarWrapper{
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    /* background-color: cornflowerblue; */

    display: grid;
    place-items: center;
    z-index: 8;
    pointer-events: none;
}
.navbar {
    position: absolute;
    width: 80%;
    height: 50%;
    z-index: 9;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: none; 
    background-color: rgba(144, 218, 228, 0.1);
    pointer-events: none;
    transform-origin: right;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}
.navbarLink {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Supreme', sans-serif;
    font-size: 0.9rem;
    user-select: none;
    cursor: pointer;
    pointer-events: stroke;
    transition: all 100ms ease-in;
}
.navbarLink:hover {
    color: rgba(255, 255, 255, 1);
}
/* navLink hover items */
.navLinkMenu {
    position: absolute;
    width: 81%;
    height: 40vh;
    bottom: 1.65vmin;
    border-radius: 22px;
    z-index: -1;
    pointer-events: all;
    transform-origin: bottom;
}
#early {
    background-color: var(--early);
}
#intl {
    background-color: var(--intl);
}
#great {
    background-color: var(--great);
}
#legacy {
    background-color: var(--legacy);
}