.nameStyle {
  position: relative;
  left: 43%;
  width: fit-content;
  user-select: none;
  font-size: 20px;
  font-family: "Melodrama", sans-serif;
  color: var(--menu-blue);
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 10px;
  overflow: hidden;
}
.ltr {
  display: inline-block;
  transition: all 50ms ease-in-out;
}
