.nameStyle {
  position: relative;
  left: 30%;
  user-select: none;
  font-family: "Melodrama", sans-serif;
  color: var(--menu-blue);
  font-weight: 100;
  letter-spacing: 1px;
}
.ltr {
  display: inline-block;
  transition: all 100ms ease-in-out;
}
.nameStyle > span:hover {
  transform: translateY(10%);
}
