:root {
    --early: #8DD3FF;
    --intl: #FFF88D;
    --great: #D14041;
    --legacy: #BAC1FA;
    --menu-blue: rgb(204, 212, 218);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}