:root {
  --early: #8dd3ff;
  --intl: #fff88d;
  --great: #d14041;
  --legacy: #bac1fa;
  --menu-blue: rgb(204, 212, 218);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--legacy);
  color: rgb(25, 24, 24);
}
