@font-face {
  font-family: "Neue Montreal Book";
  src: url("../fonts/PPNeueMontreal-Book.otf");
}

p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

@media (min-width: 960px) {
  p {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

@media (min-width: 1280px) {
  p {
    font-size: 28px;
    line-height: 1.5;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media (min-width: 1920px) {
  p {
    font-size: 35px;
    line-height: 1.5;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

:root {
  /* colours */
  --early: #8dd3ff;
  --intl: #fff88d;
  --great: #d14041;
  --legacy: #bac1fa;
  --page-bg: rgb(245, 251, 255);
  --menu-blue: rgb(204, 212, 218);
  /* image sizes */
  --i-max: 100vw;
  --i-wide: 90vw;
  --i-two: 35vw;
  --i-single: 20vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--legacy);
  color: rgb(25, 24, 24);
}
body {
  background: var(--page-bg);
  text-align: center;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
