.introSection {
  position: relative;
  top: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: var(--early); */
}
.imgWide {
  width: var(--i-wide);
  height: auto;
}
.imgWide img {
  width: 100%;
  border-radius: 3px;
  /* object-fit: cover; */
}
