.singleImage {
  position: relative;
  width: var(--i-single);
  height: fit-content;
  border-radius: 3px;
  background-color: var(--legacy);
  display: grid;
  place-items: center;
}
.singleImage > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;

  transition: all 0.8s cubic-bezier(0.87, 0, 0.13, 1);
}
.imgOpacity {
  opacity: 1;
}
