.nameTitle {
  position: relative;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blanchedalmond; */
  font-family: "Supreme", sans-serif;
  font-size: 3vmin;
  font-weight: 100;
  gap: 1.5vmin;
  letter-spacing: 1px;
  user-select: none;
}
