@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap");

.titleWrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  top: 3vmin;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.nameTitle {
  position: relative;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Neue Montreal Book", sans-serif;
  font-size: 20px;
  gap: 1.5vmin;
  letter-spacing: 2px;
  user-select: none;
}
