@import url("https://fonts.googleapis.com/css2?family=Slackside+One&display=swap");

.marquee {
  position: absolute;
  left: 0;
  height: 25vh;
  overflow: hidden;
  background-color: var(--intro-black);
  padding: 2.5vh 0;
  display: flex;
  gap: 2rem;
}
.marqueeItem {
  position: relative;
  color: ivory;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 40px;
}
[data-lang="en"] {
  font-family: "Melodrama Regular", serif;
}
[data-lang="jp"] {
  font-family: "Slackside One" !important;
}
