@import url("https://fonts.googleapis.com/css2?family=Slackside+One&display=swap");

.marquee {
  position: absolute;
  left: 0;
  height: 25vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--intro-black);
  padding: 2.5vh 0;
  display: flex;
}
.marqueeInner {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: space-around;
}
.marqueeItem {
  color: ivory;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 40px;
}
[data-lang="en"] {
  font-family: "Melodrama", serif;
}
[data-lang="jp"] {
  font-family: "Slackside One", cursive !important;
}
