.twoImageContainer {
  height: 80vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.singleImgWrapper {
  height: 80%;
  width: var(--i-two);
  background-color: var(--legacy);
}
.singleImgWrapper > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  opacity: 0;
  transition: all 1.8s cubic-bezier(0.76, 0, 0.24, 1);
}
.imgOpacity {
  opacity: 1 !important;
}
