.navImage {
  position: absolute;
  width: 35vw;
  height: fit-content;
  aspect-ratio: 1;
  border-radius: 15px;
  display: grid;
  place-items: center;
  background-color: ivory;
}
.navImage > video {
  position: relative;
  z-index: 1;
  width: 35vw;
  height: 35vw;
  aspect-ratio: 1;
  border-radius: 15px;
  object-fit: cover;
}
