.navImage {
  position: fixed;
  border-radius: 15px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  z-index: -1;
  right: 10vw;
  width: 400px;
  height: 400px;
}
.navImage > video {
  height: 100%;
  width: 100%;
  z-index: 1;
  aspect-ratio: 1;
  border-radius: 15px;
  object-fit: cover;
  filter: brightness(0.8);
  opacity: 0;
  mix-blend-mode: difference;
}
@media (max-width: 768px) {
  .navImage {
    width: 50vw;
    height: 50vw;
  }
}
