.pageBg {
    height: 100vh;
    width: 100%;
    background-color: var(--homeBg);
    display: flex;
}

.fortiesSection, .fiftiesSection, .sixtiesSection, .restOfSection {
    width: 25%;
    height: 100%;
}
.fortiesSection {
    background-color: var(--homeBg);
}
.fiftiesSection {
    background-color: var(--ylwBg);
}
.sixtiesSection {
    background-color: var(--redBg);
}
.restOfSection {
    background-color: var(--prplBg);
}